#header{    
    #header-top{
        .lakit-search{
            position: relative;
            form.lakit-search__form{
                .lakit-search__submit{
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }
        
    }
    .lakit-nav__mobile-trigger{
        padding-top: 10px;
    }
    .menu-text{
        text-transform: uppercase;
    }
}