#event-product-detail{
    .select-time-button{
        a{
            // background: none;
            // border: 1px solid var(--e-global-color-primary);
            // color: var(--e-global-color-primary);
            // &:hover{
            //     background: var(--e-global-color-primary);
            //     color: white;
            // }
        }        
    }
}
.dialog-lightbox-widget-content{
    border-radius: 3px !important;
    overflow: hidden;
    border: 1px;
}