#zippy-settings {
  overflow: hidden;
  padding: 25px 10px;

  .zippy-settings-content {
    background: #fff;
    padding: 35px 0px;

    @include tablet {
      padding: 75px 0px;
    }

    input[type="text"],
    input[type="number"] {

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.zippy-submit-button {
  margin-top: 20px !important;
  border-radius: .25rem !important;
}